*.v2
.vs/
.vs/rorys-mod-tml/v18/.suo
.vs/rorys-mod-tml/FileContentIndex/ed192a43-10bb-4bda-ba06-8504bf3c089b.vsidx
.vs/rorys-mod-tml/FileContentIndex/ba3c7164-f10d-4520-83a2-f932f54b60c6.vsidx
.vs/rorys-mod-tml/FileContentIndex/aaf68a68-9a77-4b8c-83b2-0af6c4ba9276.vsidx
.vs/rorys-mod-tml/FileContentIndex/85d893d1-53fd-4a32-aad5-bcf82479161b.vsidx
.vs/rorys-mod-tml/FileContentIndex/30f76159-72a9-4afb-8831-1ce5fdedc945.vsidx
obj/Debug/net8.0/RoryMod.AssemblyInfoInputs.cache
obj/Debug/net8.0/RoryMod.AssemblyInfo.cs
obj/RoryMod.csproj.nuget.g.props
obj/RoryMod.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/RoryMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/RoryMod.csproj.AssemblyReference.cache
obj/Debug/net8.0/RoryMod.assets.cache
obj/Debug/net8.0/RoryMod.AssemblyInfoInputs.cache
